<h1>
<%= s1a = render 'layouts/space' %>
<%= s1b = render 'layouts/space' %>
<%= s1c = render 'layouts/space' %>
</h1>
<div>
<%= s2a = render 'layouts/space' %>
<%= s2b = render 'layouts/space' %>
<%= s2c = render 'layouts/space' %>
</div>
<div>
<%= s3a = render 'layouts/space' %>
<%= s3b = render 'layouts/space' %>
<%= s3c = render 'layouts/space' %>
</div>